#main
{
    width: 800px;
    padding: 10px 20px 20px 20px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400);
}

#input-div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#books
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.book
{
    width: 28.5%;
    padding: 10px;
    border: 2.5px solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 5px;
}

.book p
{
    font-size: 20px;
    margin: 5px 0;
}

.book h2
{
    margin: 0;
    margin-bottom: 10px;
}

.book button
{
    padding: 10px 40px;
    margin: 5px 0;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    
    -webkit-text-stroke: 0px;
    background-color: hsl(7, 100%, 25%);
    color: rgb(255, 222, 6);
    border: 2px solid rgb(190, 190, 190);
}

.book button:hover
{
    background-color: hsl(7, 100%, 30%);
    color: white;
}

#books img
{
    width: 200px;
    height: 300px;
    border: 3px solid black;
}

.bookTitle
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}